@model Pharmacy_POS.Models.Drug

@{
    ViewData["Title"] = "Add_Drug";
    IList<DrugCategory> Listcategories = ViewBag.ListCategories;

    SelectList AllCategories = new SelectList(Listcategories, "CategoryId", "CategoryName");
}
<head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminLTE 3 | Dashboard</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/js/dataTables.bootstrap5.min.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bootstrap 4 -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/FrontEnd/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="~/FrontEnd/plugins/summernote/summernote-bs4.min.css">

        <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap5_DateTimePicker/css/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="~/FrontEnd/plugins/bootstrap5_DateTimePicker/css/bootstrap-datetimepicker.min.css">


</head>
@if (ViewBag.SMESSAGE != null)
{
    <div class="alert alert-success">@ViewBag.SMESSAGE</div>
}
else if (ViewBag.EMESSAGE != null)
{
    <div class="alert alert-warning">@ViewBag.EMESSAGE</div>
}

<center><h1>Add Drug</h1></center>

<hr />
<div class="col-md-6 col-lg-12 col-sm-3">
    <form asp-action="Add_Drug">





        <div class="row">
            <div class="col-md-4"><label>Drug Name</label></div>
            <div class="col-md-4"><label>Drug Category</label></div>
            <div class="col-md-4"><label>Scientific Name</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="DrugName" step="any" placeholder="enter drug name" class="form-control input-group-sm drugname" />
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.DrugCategory, AllCategories, "Choose a category", new { @class = "form-control inout-sm catname" })

            </div>
            <div class="col-md-4">
                <input type="text" asp-for="ScientificName" step="any" placeholder="enter scientific name" class="form-control input-group-sm scientificname" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>Manufacturer Name</label></div>
            <div class="col-md-4"><label>Unit Price</label></div>
            <div class="col-md-4"><label> No Of Units in Package</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="Manufacturer" step="any" placeholder="enter manufacturer name" class="form-control input-group-sm manufacturer" />
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="UnitPrice" step="any" placeholder="enter  unit price" class="form-control input-group-sm unitprice" />
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="NoOfUnitsInPackage" step="any" placeholder="no of units in package  " class="form-control input-group-sm numofunits" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>No Of Packages </label></div>
            <div class="col-md-4"><label>Batch No</label></div>
            <div class="col-md-4"><label>Manufactured Date</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="NoOfPackages" step="any" placeholder="enter no of packages " class="form-control input-group-sm numofpkg" />
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="BatchNo" step="any" placeholder="enter batch no" class="form-control input-group-sm batchnum" />
            </div>
            <div class="col-md-4">
                <input type="datetime" asp-for="ManufacturedDate" placeholder="manufactured date" class="form-control input-group-sm mfgdate" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>Expiry Date </label></div>
            <div class="col-md-8"></div>


        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="datetime" asp-for="ExpiryDate" step="any" placeholder="enter expiry date " class="form-control input-group-sm datetimepicker expdate" />
            </div>

            <div class="form-group  col-md-8 border-5">
                <input type="submit" id="submit" value="Create" class="btn btn-primary" />


            </div>
        </div>
    </form>
</div>



<div>
    <a asp-action="All_Drugs" class="btn btn-success btn-sm">Back to List</a>
</div>


@section Scripts {


    <script>


        $(document).on("click", "#submit", function () {
            alert(1);
            var drug = {

                DrugName: $('.drugname').val(),
                DrugCategory: $('.catname').val(),
                ScientificName: $('.scientificname').val(),
                Manufacturer: $('.manufacturer').val(),
                UnitPrice: $('.unitprice').val(),
                NoOfUnitsInPackage: $('.numofunits').val(),
                NoOfPackages: $('.numofpkg').val(),
                BatchNo: $('.batchnum').val(),
                ManufacturedDate: $('.mfgdate').val(),
                ExpiryDate: $('.expdate').val(),
            };
            console.log(drug);
            $.ajax({
                type: "POST",
                URL: "/Drug_/Add_Drug",
                data: { drg: JSON.stringify(drug) },

                success: function (result) {
                    alert(1212);
                }
            });

        });

    </script>



}


