@model Pharmacy_POS.Models.Drug

@{
    ViewData["Title"] = "Add_Drug";
    IList<DrugCategory> Listcategories = ViewBag.ListCategories;

    SelectList AllCategories = new SelectList(Listcategories, "CategoryId", "CategoryName");  
}
@if(ViewBag.SMESSAGE!=null)
{
<div class="alert alert-success">@ViewBag.SMESSAGE</div>
}
else if(ViewBag.EMESSAGE!=null)
{
<div class="alert alert-warning">@ViewBag.EMESSAGE</div>
}

<center><h1>Add Drug</h1></center>

<hr />
<div class="col-md-6 col-lg-12 col-sm-3">
    <form asp-action="Add_Drug">





        <div class="row">
            <div class="col-md-4"><label>Drug Name</label></div>
            <div class="col-md-4"><label>Drug Category</label></div>
            <div class="col-md-4"><label>Scientific Name</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="DrugName" step="any" placeholder="enter drug name" class="form-control input-group-sm drugname" />
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.DrugCategory, AllCategories, "Choose a category", new { @class = "form-control inout-sm catname" })
            
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="ScientificName" step="any" placeholder="enter scientific name" class="form-control input-group-sm scientificname" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>Manufacturer Name</label></div>
            <div class="col-md-4"><label>Unit Price</label></div>
            <div class="col-md-4"><label> No Of Units in Package</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="Manufacturer" step="any" placeholder="enter manufacturer name" class="form-control input-group-sm manufacturer" />
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="UnitPrice" step="any" placeholder="enter  unit price" class="form-control input-group-sm unitprice" />
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="NoOfUnitsInPackage" step="any" placeholder="no of units in package  " class="form-control input-group-sm numofunits" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>No Of Packages </label></div>
            <div class="col-md-4"><label>Batch No</label></div>
            <div class="col-md-4"><label>Manufactured Date</label></div>

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="text" asp-for="NoOfPackages" step="any" placeholder="enter no of packages " class="form-control input-group-sm numofpkg" />
            </div>
            <div class="col-md-4">
                <input type="text"asp-for="BatchNo" step="any" placeholder="enter batch no" class="form-control input-group-sm batchnum" />
            </div>
            <div class="col-md-4">
                <input type="datetime" asp-for="ManufacturedDate" step="any" placeholder="manufactured date" class="form-control input-group-sm mfgdate" />
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-4"><label>Expiry Date </label></div>
            <div class="col-md-8"></div>
            

        </div>
        <div class="row ">

            <div class="col-md-4">
                <input type="datetime" asp-for="ExpiryDate" step="any" placeholder="enter expiry date " class="form-control input-group-sm expdate" />
            </div>
            <div class="form-group  col-md-8 border-5">
                <a href="#"type="submit" class="btn btn-primary btncreate" >Add</a>
            </div>
        </div>
    </form>
</div>



<div>
    <a asp-action="All_Drugs" class="btn btn-success btn-sm">Back to List</a>
</div>

@section Scripts {

<script>

    $(document).on("click", ".btncreate", function () {
        alert(1);
        var drug = new Object();
        drug.DrugName = $(".drugname").val();
        drug.DrugCategory = $(".catname").val();
        drug.ScientificName = $(".scientificname").val();
        drug.Manufacturer = $(".manufacturer").val();
        drug.unitprice = $(".unitprice").val();
        drug.NoOfUnitsInPackage = $(".numofunits").val();
        drug.NoOfPackages = $(".numofpkg").val();
        drug.BatchNo = $(".batchnum").val();
        drug.ManufacturedDate = $(".mfgdate").val();
        drug.ExpiryDate = $(".expdate").val();
        //drug.Quantity = $(.mfgdate).val(); will get qty by another way in action
        alert(111111);
        $.ajax({
            type: "POST",
            URL: "/Customer_/Add_Customer",
            data: { drg: JSON.stringify(drug) },
            success: function (result) {
                alert(result);
            }
        });

    });

</script>



}


